*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

li{list-style: none;}

h1, h2, h3, h4, h5, h6, strong{
    font-size: inherit;
    font-weight: inherit;
}

a{
    display: block;
    color: inherit;
    text-decoration: none;
}

p a{
    display: inline;
}

a:hover{

    
}

a:active{

}


img , video , iframe{
    display: block;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    object-fit: fill;
}

svg{
    display: block;
    fill: currentColor;
}

form , input , textarea , label , button , fieldset , legend  , select{
    display: block;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color:inherit;
    background-color: transparent;
}

:root{
    font-size: 100%;
    --font-main:'Raleway', sans-serif;
    --font-sec: 'Poppins', sans-serif;
    --bg-color:  #dddbcb; 
    --main-color:  #fffffa;
    --text-color: #101314;   
    --acent-color: #ff0080;
}

html{
    scroll-behavior: smooth;
}

body{

}

.Header{
    width: 100%;
    background-color: var(--bg-color);
    padding: 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;

}

.Header-wrap{
    width: 80%;
    /*background-color: lightblue;*/
    margin: auto;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

.Header-h1{
    /*background-color: yellow;*/
    width: 4rem;
    height: 4rem;
    position: relative;
}

.Header-logo{
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 1;
    
}

.Header-logohover{
    width: 100%;
    position: absolute;
    top: 0%; 
    opacity: 0;
    transition: all .5s ease;  
}

.Header-logohover:hover{
    opacity: 1;
    transition: all .5s ease;
}


.Header-ul{
    width: 30%;
    gap: 1rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.Header-li{
    width: auto;
    font-family: var(--font-main);
    text-transform: uppercase;
    color: var(--text-color);
    font-weight: 900;
    text-align: center;
    font-size: 20px;
    letter-spacing: 5px;
    position: relative;
}

.Header-li:last-child{
    color: var(--acent-color);
}

.Header-li:hover{
    color: var(--main-color);
}

.Header-li::after{
    content: '';
    width: 0%;
    height: 3.3vh;
    border-radius: 2px;
    background-color: var(--acent-color);
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    z-index: -1;
    transition: all .5s ease;

}
.Header-li:hover::after{
    width: 100%;
}

.Header-li:active{
    color: var(--text-color);
}
.Header-btn{
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--text-color);
    display: none;
}

.Header-a{
}

@media(max-width:1000px){
    .Header-wrap{
        width: 100%;
    }
    .Header-btn{
        display: block;
    }

    .Header-ul{
        display: none;
        /*display: flex;
        flex-flow: column;
        position: absolute;
        top: 100%;
        left: 30%;*/

    }
}

@media(max-width:600px){
    .Header-wrap{
        width: 100%;
    }
}

.Main{
    width: 100%;
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
    position: relative;

}

.Main::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 36px 36px 0 36px;
  border-color: var(--bg-color) transparent transparent transparent;
  left: 82%;
  transform: translateX(-50%) translateY(100%);
}

.Main-section{
    width: 80%;
    /*background-color: lightblue;*/

    display: grid;
    grid-template-columns: repeat( 2 , 1fr );
    grid-auto-rows: 80vh;
}

.Main-h2{
    grid-column: span 1;
    grid-row: span 1;

    margin: 1rem;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    position: relative;
}

.Noe-h2{
    width: 100%;
}

/*.Main-ul{
    width: 50%;
    display: grid;
    grid-template-columns: repeat( 3 , 1fr );
    grid-template-rows: repeat( 3 , 1fr) ;
}
.Main-li{
    width: 100%;
}
.Main-img.Magenta{
    width: 4rem;
    height: 4rem;
    background-color: var(--acent-color);
}

.Main-img.Black{
    width: 4rem;
    height: 4rem;
    background-color: var(--text-color);
}*/

.Main-text{
    grid-column: span 1;
    grid-row: span 1;
    margin: 1rem;
    gap: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: end;
}

.Main-decotext{
   width: auto;
   height: auto;
   padding: .5rem;
   background-color: var(--acent-color);
   border-radius: 3px;
   font-family: var(--font-main);
   color: var(--main-color);
   font-size: 3rem;
   font-weight: 900;
   letter-spacing: 5px;
   text-transform: uppercase;
   
   animation-name: movetext;
   animation-duration: 2.5s;
   
}

@keyframes movetext{
    0%{
        transform: translateX(300%);
         
    }
    100%{
        transform: translateX(0);
    }
}
.Main-noeimg{
    grid-column: span 1;
    grid-row: span 1;
    margin: 1.5rem;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.Noe-img{
    object-fit: contain;
}

.Hola-h3{
    grid-column: span 1;
    grid-row: span 1;
    margin: 1rem;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.Section-form{
    grid-column: span 2;
    grid-row: span 1;
    margin: 1.5rem;

    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.Section-wrap{
    width: 40%;
    min-height: 20vh;
    border-radius: 10px;
    background: var(--main-color);
}

.Header-form{
    width: 100%;
    min-height: 6vh;
    border-radius: 10px 10px 0 0;
    background-color: var(--acent-color);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 5px;
}

.Form-contact{
    width: 100%;
    background-color: var(--main-color);
    gap: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    border-radius: 0 0 10px 10px;    
}

.Form-h2{
    width: auto;
    font-family: var(--font-main);
    font-size: 1.25rem;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--main-color);
    text-align: center;  
}

.Form-noe{
    width: 85%;
    margin: auto;
    padding: 1rem;

    text-align: start;
    font-family: var(--font-sec);
    font-size: 15px;
}

.Form-submit{
    width: 100%;
    min-height: 4vh;
    border-radius: 0 0 10px 10px;
    background: var(--acent-color);
    font-family: var(--font-main);
    color: var(--main-color);
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
}

@media(max-width:1000px){
    .Main-section{
        grid-auto-rows: 60vh;

    }
    .Main-text{
        justify-content: center;
    }
    .Main-decotext{
        width: auto;
        height: auto;
        font-size: 2rem;
        text-align: end;
        text-decoration-line: overline;
        text-decoration-color: var(--hover-color);
    }

    .Noe-h3::before{
        display: none;
    }
    .Section-wrap{
        width: 50%;
    }

    .Main::before{
        left: 50%;
    }
}

@media(max-width:600px){
    .Main-section{
        display: block;
        gap: 1rem;
    }
    .Noe-h3{
        font-size: 1.5rem;
        text-align: center;
    }
    .Form-noe{

    }

}

.Footer{
    width: 100%;
    min-height: 10vh;
    /*background-color: gray;*/
    padding: 0 1rem 0 1rem;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Footer-wrap{
    width: 50%;
    min-height: 6vh;
    /*background-color: lightblue;*/
    padding: 1rem;

    display: flex;
    justify-content: end;
    align-items: center;
}

.Footer-ul{
    width: 45%;
    min-height: 6vh;
    /*background-color: yellow;*/
    gap: 1rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.Footer-li{
    width: 2.5rem;
    height: 2.5rem;
    /*background-color: pink;*/
}

.Footer-svg{
    color: var(--acent-color);
}

.Footer-svg:hover{
    color: var(--text-color);
    transition: all .5s ease;

}
@media(max-width:1000px){
    .Footer{
        justify-content: center;
    }
    .Footer-wrap{
        justify-content: center;
    }
    .Footer-ul{
        justify-content: center;
    }
}

@media(max-width:600px){

    .Footer-ul{
        width: 80%;
    }
}

.About-main{
    width: 100%;
}

.About-wrap{
    width: 100%;
    /*background-color: lightblue;*/

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
}

.About-section{
    width: 50%;
    height: 100vh;
    background-color: var(--bg-color);

    position: fixed;
    top: 0%;
    left: 0%;
    padding-top: 4rem;

    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;

}

.About-name{
    width: auto;
    max-height: 5rem;
    background-color: var(--acent-color);
    border-radius: 3px;
    margin-top: 10vh;
    padding: .5rem;
    font-family: var(--font-main);
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--main-color);
    font-weight: 900;
    letter-spacing: 7px;
    word-spacing: 2.2rem;
    text-align: center;
}

.About-img{
    width: 60%;
}

.About-artwrap{
    width: 50%;
    min-height: 200vh;
    padding-top: 4rem;
}

.About-article{
    width: 100%;
    gap: 3rem;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.About-h3{
    width: 60%;
    font-family: var(--font-sec);
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--text-color);
    font-weight: 400;
    letter-spacing: 7px;
    word-spacing: 1rem;
    text-align: end;
}

.About-p{
    width: 60%;
    min-height: 65vh;
    font-family: var(--font-sec);
    color: var(--text-color);
    font-size: 15px;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-align: end;
    line-height: 2rem;

}


@media(max-width:1000px){
    .About-wrap{
        display: block;
    }
    .About-section{
        position: static;
        width: 100%;
        min-height: 100vh;
    }

    .About-artwrap{
        width: 100%;
    }
}

.Main-work{
    width: 100%;
    background: var(--bg-color);
    margin-bottom: 5vh;
    position: relative;
}

.Main-work::before{
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 36px 36px 0 36px;
  border-color: var(--bg-color) transparent transparent transparent;
  left: 82%;
  transform: translateX(-50%) translateY(100%);
}

.Work-wrap{
    width: 84%;
    min-height: 30vh;
    background-color: var(--bg-color);
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.Work-h2{
    width: auto;
    max-height: 5rem ;
    background-color: var(--acent-color);
    border-radius: 3px;
    padding: .5rem;
    font-family: var(--font-main);
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--main-color);
    font-weight: 900;
    letter-spacing: 7px;
    word-spacing: 2.2rem;
    text-align: center;
}

.Work-ul{
    width: 40%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.Work-li{
    width: 2rem;
    height: 2rem;
}

.Work-webs{
    width: 90%;
    height: 42vh;
    margin: auto;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: start;

}

.Work-article{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.Work-a{
    width: 100%;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.Work-img{
    width: 100%;
    max-height: 50vh;

    border-radius: 10px;

    object-fit: cover;
    
    filter: grayscale(80%) blur( 3px );
    transform: scale(0.8);
    transition: all .5s ease;
    opacity: 90%;
}

.Work-img:hover{
    filter: blur(0);
    transform: scale(1);
    transition: all .5s ease;
    opacity: 100%;
}

.Work-h3{
    width: auto;
    margin: auto;
    
    position: absolute;
    top: 35%;
    left: 35%;
    
    font-family: var(--font-sec);
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--main-color);
    text-align: center;
    letter-spacing: 5px;
    text-shadow: 1px 1px 2px var(--text-color);
    
}


@media(max-width:1000px){
    .Work-nav{
        display: flex;
        flex-flow: column;
        align-items: flex-start;
    }
}

@media(max-width:600px){
    .Work-h2{
        font-size: 2rem;
    }
}

.Main-me{
    width: 100%;
    background: var(--bg-color);
    position: relative;
}

.Main-me::before{
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 36px 36px 0 36px;
  border-color: var(--bg-color) transparent transparent transparent;
  left: 82%;
  transform: translateX(-50%) translateY(100%);
}

.Section-me{
    width: 100%;
    min-height: 10vh;
    
    gap: 2rem;
    padding: 2rem;
    
    display: flex;
    flex-flow: row wrap ;
    justify-content: flex-start;
    align-items: center;

}

.Me-h2{
    width: 20%;
    margin-left: 2%;
    font-family: var(--font-main);
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--sec-color);
    font-weight: 400;
    letter-spacing: 7px;
    word-spacing: 2.2rem;
    text-align: start;
}

.Me-nav{
    width: 60%;
}

.Me-ul{
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.Me-li{
    width: auto;
    font-family: var(--font-main);
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--sec-color);
    font-weight: 400;
    letter-spacing: 5px;
    word-spacing: .5rem;
    text-align: start;
    position: relative;
}

.Me-li:hover{
    color: var(--hover-color);
    transition: all .5s ease;
}
.Me-li::after{
    content: '/';
    position: absolute;
    top: 0%;
    left: 100%;
}
.Me-li:last-child{
    content:'';
    
}

.Me-a{}

.Me-button{
    position: relative;
}
.Me-btn.left{
    width: 3rem;
    height: 3rem;
    position: fixed;
    bottom: 45%;
    left: .5%;
    fill: var(--sec-color);

}

.Me-btn.right{
    width: 3rem;
    height: 3rem;
    position: fixed;
    bottom: 45%;
    right: .5%;
    fill: var(--sec-color);
}

.Me-wrap{
    display: none;
    /*width: 100%;
    min-height: 50vh;
    background-color: yellow;
    gap: 2rem;
    padding: 2rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;*/
}

.Me-wrap.isActive{
    width: 100%;
    min-height: 50vh;
    ;
    gap: 2rem;
    padding: 2rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.Me-article{
    width: calc(100% / 3);
    min-height: 40vh;
    gap: 2rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.Me-img{
    width: 100%;
    object-fit: cover;
    
}

.Me-h3{
    width: 80%;
    font-family: var(--font-main);
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--sec-color);
    font-weight: 400;
    letter-spacing: 5px;
    word-spacing: .5rem;
    text-align: center;
}

.Me-p{
    width: 80%;
    font-family: var(--font-sec);
    font-size: .75rem;
    text-transform: uppercase;
    color: var(--text-color);
    font-weight: 400;
    letter-spacing: 3px;
    word-spacing: 1px;
    text-align: center;

}

@media(max-width:1000px){
    .Wrapper-me.isActive{
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: center;
    }

    .Article-me{
        width: 80%;
        display: grid;
        grid-template-columns: repeat( 4 , 1fr );
        grid-auto-rows: 30vh;
    }

    .Img-me{
        grid-column: span 2;
        grid-row: span 2;
    }
    
    .H3-me{
        grid-column: span 2;
        grid-row: span 1;
    }
    .P-me{
        grid-column: span 2;
        grid-row: span 1;
    }
}
@media(max-width:600px){
    .Section-me{
        flex-flow: column;
        align-items: flex-start;
    }

    .Article-me{
        width: 80%;
        display: grid;
        grid-template-columns: repeat( 1 , 1fr );
        grid-auto-rows: 30vh;
    }
}
