/*reset*/

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

li{list-style: none;}

h1, h2, h3, h4, h5, h6, strong{
    font-size: inherit;
    font-weight: inherit;
}

a{
    display: block;
    color: inherit;
    text-decoration: none;
}

p a{
    display: inline;
}


img , video , iframe{
    display: block;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    object-fit: fill;
}

svg{
    display: block;
    fill: currentColor;
}

form , input , textarea , label , button , fieldset , legend  , select{
    display: block;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color:inherit;
    background-color: transparent;
}

:root{
    font-size: 100%;
    --font-main:'Raleway', sans-serif;/*Tipografia principal*/
    --font-sec: 'Poppins', sans-serif;/*Tipografia secundaria*/
    --bg-color:  #dddbcb; /*Color background principal*/
    --main-color:  #fffffa; /*Color principal de textos grandes y otras cosas*/
    --text-color: #101314;   /*Color principal de textos parrafos y otras cosas*/
    --acent-color: #ff0080; /*Color principal tipo "acento" */
}

html{
    scroll-behavior: smooth;
}

body{

}

/*CSS Header*/

.Header{
    width: 100%;
    margin: auto;
    background-color: var(--bg-color);
    padding: 1rem;
    position: relative;
    z-index: 1;

}

.Header-wrap{
    width: 80%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    
    
}

.Header-h1{
    width: 4rem;
    height: 4rem;
    position: relative;
}

.Header-logo{
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 1;
    
}

.Header-logohover{
    width: 100%;
    position: absolute;
    top: 0%; 
    opacity: 0;
    transition: all .5s ease;  
}

.Header-logohover:hover{
    opacity: 1;
    transition: all .5s ease;
}

.Header-logohover:active{
    transform: scale(1.2);
    transition: all .5s ease;
}

/*Boton menu hamburguesa*/

.Header-btn{
    width: 3rem;
    height: 3rem;
    fill: var(--text-color);
    display: none;
    
}

.Header-nav{
    width: 90%; 
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    
    

}

.Header-ul{
    width: 100%;
    gap: 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    
}

.Header-li{
    width: auto;
    
    font-family: var(--font-main);
    text-transform: uppercase;
    color: var(--text-color);
    font-weight: 900;
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 5px;
    position: relative;
}

.Header-li:last-child{
    color: var(--acent-color);
}

.Header-li:hover{
    color: var(--main-color);
}

.Header-li::after{
    content: '';
    width: 0%;
    height: 3.3vh;
    border-radius: 2px;
    background-color: var(--acent-color);
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    z-index: -1;
    transition: all .5s ease;

}
.Header-li:hover::after{
    width: 100%;
}

.Header-li:active{
    color: var(--text-color);
}

/*Responsive de Header, trate de usar medidas mas estandar*/

@media(min-width:1920px){
    .Header-ul{
        gap: 1.5rem;
    }
    .Header-li{
        font-size: 2rem;

    }
    .Header-h1{
        width: 5rem;
        height: 5rem;
    }
}

@media(max-width:1000px){
    .Header-nav{
        width: 80%;
        height: 0;

        overflow: hidden;
        transition: all 1.5s ease;
    }

    .Header-nav.isActive{
        width: 80%;
        height: 40vh;
        display: block;
        gap: 3rem;
    }
    .Header-h1{
        width: 3rem;
        height: 3rem;
    }
    .Header-btn{
        display: block;
    }

    .Header-ul{
        width: 100%;
        height: 40vh;
        background-color: var(--main-color);
        flex-direction:column;
        justify-content: space-around;
        align-items: center;
       
    }

}

@media(max-width:720px){
    .Header-wrap{
        width: 100%;
        justify-content: center;
    }
}

/*CSS Main-index*/

.Main{
    width: 100%;
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
    position: relative;

}

.Main::before { /*para crear la "punta hacia abajo" que tiene, haciendo que señale el Footer*/

    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 36px 36px 0 36px;
    border-color: var(--bg-color) transparent transparent transparent;
    left: 82%;
    transform: translateX(-50%) translateY(100%);
}

.Main-section{
    width: 80%;
    display: grid;
    grid-template-columns: repeat( 2 , 1fr );
    grid-auto-rows: 80vh;
}

.Main-h2{
    grid-column: span 1;
    grid-row: span 1;
    gap: 2rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.Noe-h2{
    width: 100%;
    object-fit: contain;
    transform:scale(0.9); /*para que al hace hover se vea mas grande*/

    transition: all 2s ease;

}

.Noe-h2:hover{
    transform:scale(1); /*para que al hacer hover se vea mas grande*/

}

.Main-ul{
    width: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    animation-name: movetext;
    animation-duration: 2.5s;
}

.Main-li{
    width: 100%;
}

/*animacion de cuadrados con simbolos*/

.Main-img.Magentaone{
    width: 3rem;
    height: 3rem;
    background-color: var(--acent-color);
    border-radius: 3px;
    object-fit: contain;

    animation-name: cubeanimation;
    animation-duration: 3s;
    animation-delay: 1s;
    transition: all 2s ease;
    animation-iteration-count: infinite;

}

.Main-img.Magentatwo{
    width: 3rem;
    height: 3rem;
    background-color: var(--acent-color);
    border-radius: 3px;
    object-fit: contain;

    animation-name: cubeanimation;
    animation-duration: 3s;
    animation-delay: 1.3s;
    transition: all 2s ease;
    animation-iteration-count: infinite;

}

.Main-img.Blackone{
    width: 3rem;
    height: 3rem;
    background-color: var(--text-color);
    border-radius: 3px;
    object-fit: contain;

    animation-name: cubeanimation;
    animation-duration: 3s;
    animation-delay: 1.5s;
    transition: all 2s ease;
    animation-iteration-count: infinite;

}

.Main-img.Blacktwo{
    width: 3rem;
    height: 3rem;
    background-color: var(--text-color);
    border-radius: 3px;
    object-fit: contain;

    animation-name: cubeanimation;
    animation-duration: 3s;
    animation-delay: 1.8s;
    transition: all 2s ease;
    animation-iteration-count: infinite;

}

.Main-img.Bg{
    width: 3rem;
    height: 3rem;
    background-color: var(--bg-color);
    border-radius: 3px;
    object-fit: contain;

    animation-name: cubeanimation;
    
    animation-duration: 3s;
    animation-delay: 2s;
    transition: all 2s ease;
    animation-iteration-count: infinite;

}

/*Animacion de los cuadrados con simbolos, para que aparezcan poco a poco utilizamos animation delay diferentes en cada cuadrado*/

@keyframes cubeanimation{
    0%{
        opacity: 90%;
    }
    30%{
        opacity: 30%;
    }
    50%{
        opacity: 50%;
    }
    80%{
        opacity: 80%;
    }
    100%{
        opacity: 100%;
    }
}

.Main-text{
    grid-column: span 1;
    grid-row: span 1;
    margin: 1rem;
    gap: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: end;

}

.Main-decotext{
   width: auto;
   padding: .5rem;
   background-color: var(--acent-color);
   border-radius: 3px;
   font-family: var(--font-main);
   color: var(--main-color);
   font-size: 3rem;
   font-weight: 900;
   letter-spacing: 5px;
   text-transform: uppercase;
   animation-name: movetext;
   animation-duration: 2.5s;
   
}

/*Animacion del texto que aparece desde el costado derecho*/

@keyframes movetext{
    0%{
        transform: translateX(300%);
         
    }
    100%{
        transform: translateX(0);
    }
}

.Main-noeimg{
    grid-column: span 1;
    grid-row: span 1;
    margin: 1.5rem;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    position: relative;    
    transform: scale(0.9);
    transition: all 2s ease;
}


.Main-noeimg:hover{
    transform: scale(1);
   
}

.Noe-img{
    object-fit: contain;
    position: absolute;
    top: 25%;
    left: 0;
    opacity: 100%;
    border-radius: .5rem;
    box-shadow: 0 0 .5rem 0 rgba(0, 0, 0, .4);
    border: 1px solid var(--main-color);
    

}

.Noe-img.hover{
    opacity: 0;
    position: absolute;
    border-radius: .5rem;
    box-shadow: 0 0 .5rem 0 rgba(0, 0, 0, .4);
    border: 1px solid var(--main-color);
}

.Noe-img.hover:hover{
    opacity: 100%;
    transition: all 1s ease;
}

.Hola-h3{
    grid-column: span 1;
    grid-row: span 1;
    margin: 1rem;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    transform: scale(0.9);
    transition: all 2s ease;
}

.Hola-h3:hover{
    transform: scale(1);
}

.Section-form{
    grid-column: span 2;
    grid-row: span 1;
    margin: 1.5rem;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.Section-wrap{
    width: 40%;
    min-height: 20vh;
    border-radius: 10px;
    background: var(--main-color);
}

.Header-form{
    width: 100%;
    height: 6vh;
    border-radius: 10px 10px 0 0;
    background-color: var(--acent-color);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    letter-spacing: 5px;
}

/*Formulario personalizado*/

.Form-contact{
    width: 100%;
    background-color: var(--main-color);
    gap: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 10px 10px;    
}

.Form-h2{
    width: 100%;
    font-family: var(--font-main);
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--main-color);
    text-align: center;  
}

.Form-noe{
    width: 82%;
    margin: auto;
    padding: 1rem;

    text-align: start;
    font-family: var(--font-sec);
    font-size: 15px;
}

.Form-submit{
    width: 100%;
    min-height: 4vh;
    border-radius: 0 0 10px 10px;
    background: var(--acent-color);
    font-family: var(--font-main);
    font-size: 1rem;
    color: var(--main-color);
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer; 
}

.Form-submit:hover{
    background-color: var(--text-color);
    transition: all .5s ease;
}

.Form-submit:active{
    background-color: var(--main-color);
    color: var(--acent-color);
    transition: all .5s ease;

}

/*Responsive de Main-index*/

@media(min-width:1920px){
    .Main-decotext{
        font-size: 5rem;
    }
    .Form-h2{
        font-size: 2rem;
    }
    .Form-noe{
        font-size: 1.5rem;
    }
    .Form-submit{
        font-size: 1.5rem;
    }
    .Main::before{
        left: 79.5%;
    }
}

@media(max-width:1000px){
    .Main-section{
        grid-auto-rows: 60vh;

    }
    .Main-text{
        justify-content: center;
    }
    .Main-decotext{
        width: auto;
        height: auto;
        font-size: 2rem;
        text-align: end;
     }

    .Noe-h3::before{
        display: none;
    }
    .Section-wrap{
        width: 50%;
    }

    .Main::before{
        left: 50%;
    }
}

@media(max-width:720px){
    .Main-decotext{
        font-size: 1rem;
    }

    .Main-section{
        display: block;
        gap: 1rem;
    }
    
    .Main-h2{
        width: 80%;
        margin: auto;
    }

    .Main-text{   
        justify-content: center;
        align-items: center;
    }
    .Hola-h3{
        width: 80%;
        margin: auto;
    }

    .Main-noeimg{
        width: 100%;
        margin: auto;
        flex-flow: column;
        padding: 2rem;

    }

    .Noe-img{
        position: static;
    }

    .Noe-img.hover{
        top: 0;
        left: 0;
    
    }

    .Form-noe{
        max-height: 10vh;
    }

    .Form-h2{
        font-size: 1rem;
    }

    .Form-submit{
        font-size: .8rem;
    }
}

@media(max-width:480px){
    .Main{
        width: 100%;
    }

    .Main-section{
        width: 80%;
    }

    .Main-h2{
        padding: 1rem;
    }

    .Section-form{
        width: 100%;
        margin: auto;
        padding: 2rem;
    }

    .Section-wrap{
        width: 100%;
    }
    
    .Form-h2{
        font-size: .9rem;
    }
}

/*CSS Footer*/

.Footer{
    width: 100%;
    padding: 0 1rem 0 1rem;
    margin-top: 3vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Footer-wrap{
    width: 50%;
    padding: 1rem;

    display: flex;
    justify-content: end;
    align-items: center;
}

.Footer-ul{
    width: 45%;
    gap: 1rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.Footer-li{
    width: 2.5rem;
    height: 2.5rem;
}

.Footer-svg{
    color: var(--acent-color);
}

.Footer-svg:hover{
    color: var(--text-color);
    transition: all .5s ease;

}

.Footer-svg:active{
    color: var(--acent-color);
    transform: scale(1.1);
    transition: all .5s ease;
}

/*Responsive Footer*/

@media(min-width:1920px){
    .Footer-ul{
        width: 50%;
    }
    .Footer-li{
        width: 3rem;
        height: 3rem;
    }
}
@media(max-width:1000px){
    .Footer{
        justify-content: center;
    }
    .Footer-wrap{
        justify-content: center;
    }
    .Footer-ul{
        justify-content: center;
    }
}

@media(max-width:720px){

    .Footer-ul{
        width: 80%;
    }
}

@media(max-width:480px){
    .Footer{
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
    }

    .Footer-wrap{
        width: 40%;
        display:flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
    .Footer-ul{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .Footer-li{
        width: 1.6rem
    }

}

/*CSS Main-about*/

.About-main{
    width: 100%;

}

.About-wrap{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
}

.About-section{
    width: 50%;
    height: 100vh;
    background-color: var(--bg-color);

    position: fixed;
    top: 0%;
    left: 0%;
    padding-top: 4rem;
    gap: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;

}

.About-name{
    width: 80%;
    margin-top: 10vh;
    padding: .5rem;
    font-family: var(--font-main);
    font-size: 2.3rem;
    text-transform: uppercase;
    color: var(--acent-color);
    font-weight: 900;
    letter-spacing: 7px;
    word-spacing: 2.2rem;
    text-align: center;
}

.About-img{
    width: 48%;
    object-fit: contain;
    border-radius: .5rem;
    box-shadow: 0 0 .5rem 0 rgba(0, 0, 0, .4);
    border: 1px solid var(--main-color);
    

}

.About-artwrap{
    width: 50%;
    padding-top: 4rem;
    display: flex;
    flex-flow: column;
    gap: 5rem;
}

.About-article{
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 5rem;
  
}

.About-h3{
    width: 60%;
    font-family: var(--font-sec);
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--text-color);
    font-weight: 400;
    letter-spacing: 7px;
    word-spacing: 1rem;
    text-align: end;
}

.About-p{
    width: 60%;
    
    font-family: var(--font-sec);
    color: var(--text-color);
    font-size: 1rem;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-align: end;
    line-height: 2rem;

}

.About-arrow{
    width: 5rem;
}

/*Responsive About*/

@media(min-width:1920px){
    .About-section{
        max-width: 50%;
    }
    .About-name{
        font-size: 3rem;
    }
    .About-h3{
        font-size: 3rem;
    }
    .About-p{
        font-size: 1.5rem;
    }
}

@media(max-width:1000px){
    .About-wrap{
        display: block;
        
    }
    .About-section{
        position: static;
        margin: auto;
        width: 100%;
        min-height: 110vh;
        padding-top: 0;
    }

    .About-artwrap{
        width: 80%;
        margin: auto;
        display: flex;
        flex-flow: column;

    }

    .About-article{
        justify-content: center;
        align-items: center;
    }

    .About-h3{
        text-align: center;
        text-decoration: overline;
        text-decoration-color: var(--acent-color);
    }
    .About-p{
        text-align: center;
    }
    .Footer{
        margin-top: 3rem;
        
    }

}

@media(max-width:720px){
    .About-artwrap{
        width: 100%;
    }
    .About-article{
        width: 95%;
    }
}

/*CSS Main-work*/

.Main-work{
    width: 100%;
    background: var(--bg-color);
    position: relative;
    margin-bottom: 3rem;
}

.Main-work::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 36px 36px 0 36px;
    border-color: var(--bg-color) transparent transparent transparent;
    left: 82%;
    transform: translateX(-50%) translateY(100%);
}

.Work-wrap{
    width: 78%;
    background-color: var(--bg-color);
    margin: auto;
    padding: 4rem 0 4rem 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: start;
    gap: 2rem;
}

.Work-h2{
    width: auto;
    background-color: var(--acent-color);
    border-radius: 3px;
    padding: .5rem;
    font-family: var(--font-main);
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--main-color);
    font-weight: 900;
    letter-spacing: 7px;
    word-spacing: 2.2rem;
    text-align: center;
}

.Work-ul{
    width: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    
}

.Work-li{
    width: auto;
    margin-top: 2rem;
    font-family: var(--font-sec);
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--sec-color);
    font-weight: 900;
    letter-spacing: 5px;
    text-decoration: overline;
    text-align: start;
    
}

.Work-li:nth-child(2n){
    font-size: 1rem;
    text-decoration: none;
}

.Work-li:first-child:hover{
    color: var(--acent-color);
    transform: scale(1.1);
    transition: all .5s ease;
}

.Work-li:nth-child(3n):hover{
    color: var(--acent-color);
    transform: scale(1.1);
    transition: all .5s ease;
}

.Work-li:first-child:active{
    color: var(--main-color);
    transform: scale(.8);
    transition: all .5s ease;
}
.Work-li:nth-child(3n):active{
    color: var(--main-color);
    transform: scale(.8);
    transition: all .5s ease;
    
}

.Work-w{
    cursor: pointer;
}
.Work-d{
    cursor: pointer;
}

.Work-webs{
    width: 90%;
    padding: 0 0 5rem 0;
    display: none;
    flex-flow: row;
    justify-content: center;
    align-items: start;
    position: relative;

}
.Work-webs.isActive{
    width: 90%;
    margin: auto;
    padding: 0 0 10rem 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: start;
    position: relative;

}
.Webs-article{
    width: calc(100% / 3);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}


.Webs-a{
    width: 100%;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.Webs-img{
    width: 100%;
    max-height: 50vh;
    border-radius: .5rem;
    box-shadow: 0 0 .5rem 0 rgba(0, 0, 0, .4);
    border: 1px solid var(--main-color);

    object-fit: cover;
    
    filter: grayscale(80%) blur( 3px );
    transform: scale(0.8);
    transition: all .5s ease;
    opacity: 90%;
}

.Webs-img:hover{
    filter: blur(0);
    transform: scale(1);
    transition: all .5s ease;
    opacity: 100%;
}

.Webs-img:active{
    transform: scale(.8);
}

.Webs-h3{
    width: 40%;
    margin: auto;
    
    position: absolute;
    top: 35%;
    left: 33%;
    
    font-family: var(--font-sec);
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--main-color);
    text-align: center;
    letter-spacing: 5px;
    text-shadow: 1px 1px 2px var(--text-color);
    
}

.Work-p{
    width: 80%;
    padding: 1rem;
    font-family: var(--font-main);
    text-align: justify;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5em;
}

.Work-design{
    width: 90%;
    margin: auto;
    display: none;
    flex-flow: row;
    justify-content: center;
    align-items: start;

}

.Work-design.isActive{
    width: 90%;
    margin: auto;
    padding: 0 0 10rem 0;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: start;

}


.Design-article{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
}

.Design-img{
    width: 100%;
    max-height: 50vh;
    border-radius: .5rem;
    box-shadow: 0 0 .5rem 0 rgba(0, 0, 0, .4);
    border: 1px solid var(--main-color);

    object-fit: cover;
    
    filter: grayscale(80%) blur( 3px );
    transform: scale(.8);
    transition: all .5s ease;
    opacity: 90%;
}

.Design-img:hover{
    filter: blur(0);
    transform: scale(1);
    transition: all .5s ease;
    opacity: 100%;
}

.Design-img:active{
    transform: scale(.8);
}

.Design-h3{
    width: 80%;
    margin: auto;
    
    position: absolute;
    top: 45%;
    left: 10%;
    
    font-family: var(--font-sec);
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--main-color);
    text-align: center;
    letter-spacing: 5px;
    text-shadow: 1px 1px 2px var(--text-color);
}

/*Lightbox para JS*/

.Design-lightbox{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.252);
    backdrop-filter: blur(5px);

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    position: fixed;
    top: 0;
    left: 0;

    opacity: 0;
    pointer-events: none;
    transition: all 1s ease;
    z-index: 1;
}

.Design-lightbox.isActive{
    opacity: 1;
    pointer-events: auto;
}

.Design-btn{
    width: 4rem;
    height: 4rem;
    color: var(--text-color);
    cursor: pointer;

}
.Design-svg{
    width: 4rem;
    height: 4rem;
}

.Design-svg:hover{
    color: var(--acent-color);
    transform: scale(1.5);
    transition: all .3s ease;
}

.Design-svg:active{
    color: var(--main-color);
    transform: scale(1);
}

.Lightbox-img{
    width: 80%;
    max-width: 60rem;
    height: 80vh;

    object-fit: cover;
    border-radius: .5rem;
    box-shadow: 0 0 .5rem 0 rgba(0, 0, 0, .4);
    border: 1px solid var(--main-color);

     
}

/*Responsive Main-work*/

@media(min-width:1920px){
    .Main-work::before{
        left: 80%;
    }
    .Work-h2{
       font-size: 3rem;
    }
    .Work-li{
        font-size: 4rem;
    }
}
@media(max-width:1000px){
    .Work-wrap{
        justify-content: center;
        align-items: center;
    }
    .Work-h2{
        font-size: 2rem;
    }
    .Work-ul{
        justify-content: center;
    }
    .Work-li{
        font-size: 2.5rem;
    }
    .Work-webs.isActive{
        flex-flow: row nowrap;
        align-items: start;
    }
    .Webs-h3{
        top: 35%;
        left: 30%;
        font-size: 2rem;
    }
    .Main-work::before{
        left: 50%;
    }
    
    .Work-design.isActive{
        flex-flow: column;
        align-items: center;
    }
    .Design-h3{
        top: 45%;
        left: 10%;
        
    }
}

@media(max-width:720px){
    .Main-work{
    }
    .Work-wrap{
        width: 100%;
    }
    .Work-ul{
        justify-content: center;
    }

    .Webs-article{
        width: 100%;
    }
    .Work-webs.isActive{
        width: 100%;
        flex-flow: column;
        align-items: center;
    }
    .Webs-h3{
        top: 40%;
        left: 30%;
        font-size: 3rem;
    }
}

@media(max-width:480px){
    .Work-wrap{
        justify-content: center;
        align-items: center;
    }
    .Work-h2{
        width: auto;
        font-size: 2rem;
    }
    .Work-ul{
        width: 50%;
        justify-content: center;
        align-items: center;
    }
    .Work-li{
        width: 100%;
        font-size: 1rem;
        text-align: center;
    }
    .Webs-h3{
        font-size: 2rem;
    }
}

/*CSS Main-me*/

.Main-me{
    width: 100%;
    margin-bottom: 5vh;
    background: var(--bg-color);
    position: relative;
}

.Main-me::before{
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 36px 36px 0 36px;
  border-color: var(--bg-color) transparent transparent transparent;
  left: 82%;
  transform: translateX(-50%) translateY(100%);
}

.Section-me{
    width: 78%;
    padding: 4rem 0 4rem 0;
    background-color: var(--bg-color);
    margin: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: start;
    gap: 2rem;

}

.Me-h2{
    width: auto;
    max-height: 5rem ;
    background-color: var(--acent-color);
    border-radius: 3px;
    padding: .5rem;
    font-family: var(--font-main);
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--main-color);
    font-weight: 900;
    letter-spacing: 7px;
    word-spacing: 2.2rem;
    text-align: center;
}

.Me-span{
    width: 80%;
    font-family: var(--font-sec);
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--sec-color);
    font-weight: 900;
    letter-spacing: 5px;
    text-align: start;
}

.Me-p{
    width: 90%;
    
    font-family: var(--font-main);
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-align: justify;
    line-height: 2.5em;

}

/*Slider para JS*/

.Me-slider{
    width: 90%;
    margin: auto;
    position: relative;
    padding: 3rem;
}

.Me-wrap{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.099);
    border-radius: 8px;
    margin: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.Me-img{
    width: auto;
    max-height: 70vh;
    display: none;

}
.Me-img.isActive{
    display: block;
    max-height: 70vh;
    object-fit: contain;
    border-radius: .5rem;
    box-shadow: 0 0 .5rem 0 rgba(0, 0, 0, .4);
    border: 1px solid var(--main-color);
}

.Me-btn{
    width: 3.5rem;
    height: 3.5rem;
    position: absolute;
    color: var(--text-color);
    top: calc( 50% - 2rem );
}

.Btn-prev{
    left: 5%;
}
.Btn-next{
    right: 5%;
}

/*Responsive Main-work*/

@media(min-width:1920px){

    .Main-me::before{
        left: 80%;
    }

    .Me-p{
        font-size: 1.5rem;
        line-height: 2em;
    }

    .Me-slider{
        width: 100%;
        margin: auto;
        position: relative;
        padding: 3rem;
    }

}

@media(max-width:1000px){

    .Main-me::before{
        left: 50%;
    }

    .Section-me{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .Me-h2{
        text-align: center;
    }

    .Me-span{
        text-align: center;
    }

    .Me-p{
        width: 80%;
    }

    .Me-slider{
        width: 100%;

    }

    .Me-img.isActive{
        max-width: 75vw;
        max-height: 80vh;
    }

    .Me-btn{
        width: 2.5rem;
        height: 2.5rem;

    }

    .Btn-prev{
        left: 5%;
    }
    .Btn-next{
        right: 5%;
    }
    
}

@media(max-width:720px){
    .Me-p{
        width: 80%;
    }
    .Me-slider{
        width: 100%;
    }
    .Me-wrap{
        width: 100%;
        height: 60vh;

    }
    .Me-img.isActive{
        width: auto;
        max-height: 55vh;
    }
    .Btn-prev{
        left: 8%;
    }
    .Btn-next{
        right: 8%;
    }
}

@media(max-width:480px){

    .Me-h2{
        font-size: 2rem;
    }
    .Me-span{
        font-size: 1.5rem;
    }

    .Me-wrap{
        height: 40vh;

    }

    .Me-img.isActive{
        width: auto;
        max-height: 35vh;
    }

    .Me-p{
        width: 80%;
    }
    .Me-btn{
        width: 1.5rem;
        height: 1.5rem;

    }

    .Btn-prev{
        left: 11%;
    }
    .Btn-next{
        right: 11%;
    }
}

/*CSS Arigatitos*/

.Arigatitos{
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    gap: 2rem;

}
.Gatito-img{
    width: 40rem;
    object-fit: contain;
}
.Gatito-p{
    width: 30%;
    font-family: var(--font-main);
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--sec-color);
    font-weight: 400;
    letter-spacing: 5px;
    line-height: 2rem;
    text-align: center;
}

.Gatito-span{
    width: 30%;
    font-family: var(--font-sec);
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--text-color);
    font-weight: 900;
    letter-spacing: 5px;
    text-align: center;
}